* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}

p {
    margin: 20px;
}

header {
    padding: 30px;
    background: url(../images/plant-growing-licensed.jpeg)  no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 42px;
    color: rgb(240, 248, 255); 
    text-shadow: 0 0 10px rgba(255, 255, 255, .5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Montserrat', sans-serif; */
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
}

.list li a {
    margin: 20px;
    color: rgb(240, 248, 255);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    /* margin: 20px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */

}

.about-me {
    background-color: coral;

}

.work {
    background-color: chartreuse;
}

.contact-me {
    background-color: cornsilk;
}

.container h2 {
    font-size: 36px;
    color: blue;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 10px;
}

.photo {
    width: 100px;
    height: 100px;
    background-color: red;
    background: url(../images/touxiang.jpg) center no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 50%;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    
}

.works {
    display: flex;
    width: 200px;
    height: 100px;
    border: 1px solid red;
}

img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}












footer {
    background-color: cadetblue;
}

/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */